:root {
  --bar-height: 5px;

  --progress: 20;
  --progress-percentage: 20%;
  --clip-progress: calc((141.5% / 100) * var(--progress));

  --border-radius: calc(var(--bar-height) / 2);

  --indicator-width: 50px;
  --indicator-offset: calc(var(--indicator-width) / 2);
  --indicator-left: calc(var(--progress-percentage) - var(--indicator-offset));

  --pointer-width: 16px;
  --pointer-offset: calc(var(--pointer-width) / 2);
  --pointer-left: calc(var(--progress-percentage) - var(--pointer-offset));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background: #f8f8f9;
}

/* HEADER */

header {
  width: 100%;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
  background: white;
  padding: 0px 150px;
  position: fixed;
  z-index: 1;
}

.container__nav {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container__logo {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.container__logo .logo_img {
  display: block;
  margin: 0px 70px 0px 0px;
}

.container__logo ul li {
  display: inline-block;
  margin: 0px 60px 0px 0px;
  line-height: 70px;
  height: 68px;
}

.container__logo ul li:hover {
  border-bottom: 2px solid #ff3366;
  border-bottom-left-radius: 1px 1px;
  border-bottom-right-radius: 1px 1px;
}

.container__logo ul li a {
  font-weight: 500;
  list-style: none;
  text-decoration: none !important;
  color: #333333;
  font-size: 1.4em;
}

.container__diurno {
  width: 13%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container__diurno span {
  margin-right: 10px;
  font-size: 1.4em;
}

.dark_version {
  width: 62px;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 32px;
  border-radius: 17px;
  background-color: #f2f4f9;
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.03);
}

.dark_version img {
  position: absolute;
  bottom: 8px;
  right: 8px;
  top: 8px;
}

.light_version {
  width: 28px;
  height: 28px;
  background-color: #ff3366;
  position: absolute;
  bottom: 2px;
  border-radius: 50%;
  left: 2px;
}

.light_version img {
  position: absolute;
  bottom: 6px;
  right: 6px;
  left: 6px;
  top: 6px;
}

/* INICIO */
.section_start {
  padding-top: 70px;
  width: 80%;
  margin: auto;
  height: 100vh;
  box-sizing: border-box;
}

.container__start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.container__info h3 {
  font-size: 2.4em;
  display: inline-block;
  letter-spacing: 0.5px;
  color: #1a2e35;
}

.container__info h1 {
  font-size: 4.1em;
  letter-spacing: 0.5px;
  color: #1a2e35;
}

.container__info p {
  color: #555555;
  font-size: 1.8em;
  letter-spacing: 0;
  padding-bottom: 10px;
}

.button__skills {
  width: 170px;
  height: 56px;
  border: none;
  border-radius: 27.5px;
  box-shadow: 0 7px 13px 0 rgba(255, 51, 102, 0.26);
  background-color: #ff3366;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.28px;
  text-align: center;
  margin: 36px 24px 0px 0px;
  cursor: pointer;
  transition: all 1s;
}

.button__skills:focus {
  background-color: white;
  border: solid 1px #ff3366;
  color: #ff3366;
  transition: all 1s;
  outline: none;
}

.button__social {
  width: 170px;
  height: 56px;
  border: solid 1px #ff3366;
  border-radius: 27.5px;
  box-shadow: 0 7px 13px 0 rgba(255, 51, 102, 0.05);
  background-color: white;
  color: #ff3366;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.28px;
  text-align: center;
  cursor: pointer;
  transition: all 1s;
}

.button__social:focus {
  background-color: #ff3366;
  color: white;
  transition: all 1s;
  outline: none;
}

/****** DELAY ANIMATE *********/
@keyframes zoonIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
  }
}

.container__img {
  opacity: 0;
  animation: zoonIn 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transform: scale(1);
}

header {
  opacity: 0;
  animation: zoonIn 0.3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  transform: scale(1);
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: scaleX(-500);
  }

  to {
    opacity: 1;
  }
}

.container__info {
  opacity: 0;
  animation: fadeInLeft 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transform: scaleX(0);
}

/*SECTION ABOUT ME*/
.section_aboutme {
  width: 80%;
  margin: auto;
  height: 100vh;
  margin-top: 70px;
}

.container_aboutme {
  width: 100%;
  height: auto;
  background: white;
  padding: 58px 40px 53px 40px;
  box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.02);
  border: solid 1px #f0f0f0;
  border-radius: 4px;
}

.aboutme__text h4 {
  text-align: center;
  color: #ff3366 !important;
  font-weight: normal;
  font-size: 2.3em;
  letter-spacing: 0.5px;
}

.aboutme__text h2 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: #1a2e35 !important;
}

.aboutme__text p {
  font-size: 1.5em;
  color: #555555;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 50px 0px 50px 0px;
}

.aboutme__info {
  width: 50%;
}

.aboutme__info h3 {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.46px;
  color: #1a2e35;
  padding-bottom: 24px;
}

.container__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 13px 0px;
}

.icon__aboutme {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.02);
  border: solid 1px #f0f0f0;
  background-color: #ffffff;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  color: #555555;
  font-size: 1.5em;
}

.container__info__personal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.container__interest {
  margin-bottom: 42px;
}

.container__interest h3 {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.46px;
  color: #1a2e35;
  padding-bottom: 11px;
}

.skills__interest {
  width: 50%;
  padding-left: 50px;
  border-left: 1px solid #f0f0f0;
}

.interest {
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #f0f0f0;
  background-color: #ffffff;
  margin-top: 14px;
  margin-right: 13px;
}

.interest span {
  display: inline-block;
  font-size: 1.4em;
  margin: 11px 16px;
}

.container__interest2 h3 {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.46px;
  color: #1a2e35;
  padding-bottom: 24px;
}

.container__interest2 span {
  font-size: 1.5em;
  font-weight: 600;
  color: #333333;
  margin-right: 20px;
}

.container__interest2 img {
  margin-right: 4px;
}

.container_aboutme a {
  width: 170px;
  box-shadow: 0 7px 13px 0 rgba(255, 51, 102, 0.26);
  background-color: #ff3366;
  margin: 36px auto 0px auto;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.28px;
  text-align: center;
  text-decoration: none;
  display: block;
  height: 56px;
  line-height: 56px;
  transition: all 1s;
  border-radius: 27.5px;
  font-stretch: normal;
  font-style: normal;
}

.container_aboutme a:focus {
  background-color: white;
  border: solid 1px #ff3366;
  color: #ff3366 !important;
  transition: all 1s;
  outline: none;
}

/*HABILIDADES*/

.content_text {
  width: 100%;
}

.content_text h4 {
  text-align: center;
  color: #ff3366 !important;
  font-weight: normal;
  font-size: 2.3em;
  letter-spacing: 0.5px;
}

.content_text h2 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: #1a2e35 !important;
  margin-bottom: 65px;
}

.container_skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content_skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0px 50px 0px 40px;
}

.section_aboutme h3 {
  letter-spacing: 0.46px;
  color: #1a2e35;
  font-size: 22px;
}

.content_tools {
  width: 50%;
  padding: 0px 50px;
}

/*BARRA DE PROGRESO*/
.contenerdor_skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.scrum {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 74px;
}

.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.progress-bar {
  width: 46%;
  margin-top: 56px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
}

.skill {
  position: absolute;
  top: -22px;
}

.legend {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  display: none;
}

.meter {
  width: 100%;
  height: 5px;
  background-color: lightgrey;
  border-radius: var(--border-radius);
  position: relative;
}

.bar {
  background-color: #ff3366;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  position: absolute;
  clip-path: circle(var(--clip-progress) at left);
  animation: fill 2s ease-in-out 0s 1 normal;
}

.indicator {
  position: absolute;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  width: 32px;
  height: 25px;
  bottom: 12px;
  line-height: 25px;
  left: var(--indicator-left);
  text-align: center;
  animation: load-indicator 2s ease-in-out 0s 1 normal;
  color: #444444;
  font-size: 11px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.pointer {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: none;
  transform: rotate(45deg);
  position: absolute;
  bottom: 9px;
  left: var(--pointer-left);
  animation: load-pointer 2s ease-in-out 0s 1 normal;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}

@keyframes load-indicator {
  from {
    left: calc(0% - var(--indicator-offset));
  }
}

@keyframes load-pointer {
  from {
    left: calc(0% - var(--pointer-offset));
  }
}

@keyframes fill {
  from {
    clip-path: circle(0% at left);
  }
}

/*PROYECTOS*/

.section_projects {
  width: 80%;
  margin: auto;
  height: auto;
  margin-top: 70px;
  box-sizing: border-box;
}

.section_projects h4 {
  text-align: center;
  color: #ff3366 !important;
  font-weight: normal;
  font-size: 2.3em;
  letter-spacing: 0.5px;
}

.section_projects h2 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: #1a2e35 !important;
  margin-bottom: 54px;
}

.container_grid {
  display: grid;
  width: 100%;
  grid-template-columns: 330px 330px 330px;
  grid-template-rows: 330px 330px;
  grid-column-gap: 37px;
  grid-row-gap: 37px;
  justify-content: center;
}

.container_grid figure img {
  width: 100%;
  height: 100%;
}

/*pagination*/
.center {
  text-align: center;
  margin: 30px 0px 70px 0px;
}
.pagination {
  display: inline-block;
  margin: auto;
}

.pagination a {
  color: #444444;
  font-size: 1.3em;
  float: left;
  padding: 8px 12px;
  margin: 0px 8px 0px 0px;
  text-decoration: none;
  border: solid 1px #f0f0f0;
  border-radius: 16.5px;
}

.pagination a.active {
  background-color: #ff3366;
  color: white;
  border-radius: 16.5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 16.5px;
}
