/* RESPONSIVE WEB DESIGN */

@media screen and (max-width: 1200px) {
  .container__logo ul li {
    margin: 0px 40px 0px 0px;
  }
  .container_logo img {
    margin: 0px 40px 0px 0px;
  }
  .container__info p {
    display: inline;
  }
  .dark_version {
    width: 62px;
  }
  .aboutme__info {
    width: 49%;
  }
  .container_grid {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 250px);
  }
  .content_project {
    width: 100%;
  }
  .content_project img {
    display: block;
    width: 100%;
  }
  .direction {
    width: 75%;
  }
  .direction img {
    width: 9px;
  }
  .rectangule img {
    width: 60%;
  }
  .modalProjecto {
    padding-top: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .container__diurno {
    width: 150px;
  }
  .container__diurno span {
    font-size: 1em;
  }
  .container__logo .logo_img {
    display: block;
    margin: 0px 20px 0px 0px;
  }
  .container__logo ul li {
    margin: 0px 12px 0px 0px;
  }
  .button__skills {
    display: block;
  }
  .button__social {
    margin-top: 24px;
  }
  .skill {
    width: 47%;
  }
  .container_grid {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 300px);
  }
  .container_educaction {
    align-items: center;
  }
  .container_educaction .oval {
    width: 50%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .oval img {
    width: 91%;
    margin: auto auto auto 0px;
  }
  .text_education {
    width: 45%;
    margin-left: 30px;
  }
  .dark_version {
    width: 62px;
  }
}

@media screen and (max-width: 768px) {
  header ul {
    display: none;
  }
  .container__diurno span {
    display: none;
  }
  .container__diurno {
    width: 62px;
  }
  .dark_version {
    width: 62px;
  }

  .btn-menu {
    display: block;
    background: none;
    border: none;
    margin-left: 30px;
  }

  .btn-menu img {
    display: block;
  }

  .pushbar-menu {
    padding: 15px 30px 30px 30px;
  }

  .btn_close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  .btn_close span {
    color: var(--red);
    float: right;
    font-size: 3.3em;
  }

  .btn_close span:hover,
  .btn_close span:focus {
    color: var(--red);
    text-decoration: none;
    cursor: pointer;
  }

  .pushbar-menu nav ul li {
    list-style: none;
    margin-bottom: 30px;
  }

  .pushbar-menu nav ul li a {
    text-decoration: none;
    font-family: "Barlow";
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    padding-bottom: 5px;
  }
  .pushbar-menu nav ul li a:hover {
    border-bottom: 2px solid var(--red);
  }

  .pushbar-menu nav ul li a.current {
    border-bottom: 2px solid var(--red);
  }

  .container__info__personal {
    flex-direction: column;
  }
  .aboutme__info {
    width: 100%;
    padding-bottom: 43px;
  }
  .skills__interest {
    width: 100%;
    padding-top: 43px;
    padding-left: 0px;
    border-top: 1px solid #f0f0f0;
    border-left: none;
  }
  .skill {
    width: 100%;
  }
  .container_grid {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(5, 300px);
  }
  .container_educaction .oval {
    display: none;
  }
  .text_education {
    width: 100%;
  }
  .text_education {
    width: 100%;
    margin: 0;
  }
  .container_box_education {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .card_education::before {
    display: none;
  }
  .circle1,
  .circle2,
  .circle3 {
    display: none;
  }
  .modal-content2 {
    width: 100%;
  }
  .url_container {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .container__diurno {
    width: 60px;
  }
  .container__nav {
    height: 60px;
  }
  .section_start {
    height: 100%;
    padding-top: 107px;
    width: 95%;
  }
  .dark_version {
    width: 62px;
  }
  .container__info {
    width: 100%;
    text-align: center;
  }
  .container__info h3 {
    font-size: 2.1em;
    margin-bottom: 7px;
  }
  .container__info h1 {
    font-size: 2.7em;
    margin-bottom: 8px;
  }
  .container__info p {
    font-size: 1.5em;
  }
  .container__img {
    display: none;
  }
  .container_img_rwd {
    display: block;
    width: 100%;
  }
  .container_img_rwd img {
    width: 85%;
  }
  .button__skills {
    margin: 30px auto auto auto;
  }
  .container_skills {
    flex-direction: column;
  }
  .content_skills {
    padding: 0px 20px 0px 20px;
    width: 100%;
  }
  .content_tools {
    padding: 0px 20px 0px 20px;
    width: 100%;
  }
  .section_aboutme {
    width: 95%;
  }
  .aboutme__text h4 {
    font-size: 2em;
  }
  .aboutme__text h2 {
    font-size: 2.7em;
  }
  .container_aboutme {
    padding: 20px 20px 42px 20px;
  }
  .content_text h4 {
    font-size: 2em;
  }
  .content_text h2 {
    font-size: 2.7em;
  }
  .content_skills {
    padding: 0px 20px 0px 20px;
  }
  .content_tools {
    padding: 0px 20px 0px 20px;
  }
  .content_tools h3:first-child {
    margin-top: 30px;
  }
  .scrum {
    margin-bottom: 50px;
  }
  .container_projects {
    width: 95%;
  }
  .container_projects h4 {
    font-size: 2em;
  }
  .container_projects h2 {
    font-size: 2.7em;
    margin-bottom: 46px;
  }
  .container_box_education {
    width: 95%;
  }
  .section_education h4 {
    font-size: 2em;
  }
  .section_education h2 {
    font-size: 2.7em;
  }
  footer {
    height: 168px;
  }
  .container_footer {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .images_footer {
    margin-bottom: 29px;
  }

  .modal {
    padding: 0px;
    height: 100%;
  }
  .modal-content {
    height: 100%;
    max-width: 100%;
  }
  .modal-body {
    flex-direction: column;
  }
  .content_modal_icons {
    width: 100%;
  }
  .modalProjecto {
    height: 100%;
    padding: 0px;
  }
  .modal-content2 {
    width: 100%;
    height: 100%;
    padding: 26px 26px;
    overflow-x: scroll;
  }
  .modal-header2 {
    margin-bottom: 20px;
  }
  .modal-header2 h3 {
    font-size: 2em;
  }
  .modal-body2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .container_text_project {
    grid-row-gap: 30px;
  }
  .url_container {
    opacity: 1;
  }
}

@media only screen and (max-width: 360px) {
  .section_start {
    width: 90%;
    padding-top: 115px;
  }
  .dark_version {
    width: 62px;
  }
  .container__diurno {
    width: 62px;
  }
  .container__info h3 {
    font-size: 2.1em;
    margin-bottom: 7px;
  }
  .container__info h1 {
    font-size: 2.7em;
    margin-bottom: 8px;
  }
  .container__info p {
    font-size: 1.5em;
  }
  .container_img_rwd {
    margin-top: 19px;
  }
  .section_aboutme {
    width: 95%;
  }
  .aboutme__text h4 {
    font-size: 2em;
  }
  .aboutme__text h2 {
    font-size: 2.7em;
  }
  .container_aboutme {
    padding: 20px 20px 42px 20px;
  }
  .content_text h4 {
    font-size: 2em;
  }
  .content_text h2 {
    font-size: 2.7em;
  }
  .content_skills {
    padding: 0px 20px 0px 20px;
  }
  .content_tools {
    padding: 0px 20px 0px 20px;
  }
  .content_tools h3:first-child {
    margin-top: 30px;
  }
  .scrum {
    margin-bottom: 50px;
  }
  .container_projects {
    width: 95%;
  }
  .container_projects h4 {
    font-size: 2em;
  }
  .container_projects h2 {
    font-size: 2.7em;
    margin-bottom: 46px;
  }

  .container_box_education {
    width: 95%;
  }

  .section_education h4 {
    font-size: 2em;
  }

  .section_education h2 {
    font-size: 2.7em;
  }

  .modal {
    padding: 0px;
    height: 100%;
  }

  .modal-content {
    height: 100%;
  }
  .modal-body {
    flex-direction: column;
  }

  .content_modal_icons {
    width: 100%;
  }

  .modalProjecto {
    height: 100%;
    padding: 0px;
  }

  .modal-content2 {
    width: 100%;
    height: 100%;
    padding: 26px 26px;
    overflow-x: scroll;
  }

  .modal-header2 {
    margin-bottom: 20px;
  }

  .modal-header2 h3 {
    font-size: 2em;
  }

  .modal-body2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .container_text_project {
    grid-row-gap: 30px;
  }

  .url_container {
    opacity: 1;
  }
}

@media only screen and (max-width: 320px) {
  .container__info h3 {
    font-size: 1.9em;
    margin-bottom: 7px;
  }
  .container__info h1 {
    font-size: 2.5em;
    margin-bottom: 8px;
  }
  .container__diurno {
    width: 62px;
  }
  .section_start {
    width: 95%;
  }
  .container_grid {
    grid-template-columns: repeat(1, 280px);
    grid-template-rows: repeat(6, 280px);
  }

  .modal {
    padding: 0px;
    height: 100%;
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    flex-direction: column;
  }
  .content_modal_icons {
    width: 100%;
  }
  .dark_version {
    width: 62px;
  }
  .url_container {
    opacity: 1;
  }
}
